.startYourLearning {
  /* position: absolute; */
  width: calc(100% - 598px);
  top: calc(50% - 56.5px);
  left: 299px;
  display: inline-block;
}
.supportingText {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.content {
  /* position: absolute; */
  top: 5px;
  left: 105px;
  width: 842px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.searchbar,
.startYourLearningJourneyHeParent {
  background-color: var(--background-default-default);
  overflow: hidden;
}
.searchbar {
  /* position: absolute; */
  top: 215px;
  left: 105px;
  border-radius: var(--br-21xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1239px;
  height: 59px;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--schemes-on-surface-variant);
  font-family: var(--paragraph);
}
.startYourLearningJourneyHeParent {
  height: 399px;
  flex-shrink: 0;
  z-index: 0;
  text-align: center;
  font-size: var(--style-header-size);
  font-family: var(--style-header);
}
.heading,
.startYourLearningJourneyHeParent {
  align-self: stretch;
  position: relative;
}
.subheading {
  width: 113px;
  position: relative;
  font-size: var(--paragraph-size);
  line-height: 120%;
  color: var(--text-default-secondary);
  display: none;
}
.textContentHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-200);
}
.textHeading1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-weight: 600;
}
.textHeading {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatarIcon {
  width: var(--icon-large);
  border-radius: var(--radius-full);
  height: var(--icon-large);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.avatarIcon,
.description,
.title {
  position: relative;
}
.description {
  align-self: stretch;
  font-size: var(--body-base-size);
  line-height: 140%;
  font-family: var(--body-base);
  color: var(--text-default-tertiary);
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-050);
}
.avatarBlock,
.testimonialCard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatarBlock {
  width: 139px;
  flex-direction: row;
  gap: var(--space-300);
  font-size: var(--paragraph-size);
  color: var(--text-default-secondary);
  font-family: var(--paragraph);
}
.testimonialCard {
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--space-600);
  gap: var(--space-600);
  min-width: 300px;
}
.description1,
.title1 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.title1 {
  font-weight: 600;
}
.description1 {
  color: var(--text-default-tertiary);
}
.info1 {
  flex: 1;
  flex-direction: column;
  gap: var(--space-050);
}
.avatarBlock1,
.info1,
.testimonialCard1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatarBlock1 {
  width: 139px;
  flex-direction: row;
  gap: var(--space-300);
  font-size: var(--body-base-size);
  color: var(--text-default-secondary);
}
.testimonialCard1 {
  flex: 1;
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--space-600);
  gap: var(--space-600);
  min-width: 300px;
  cursor: pointer;
}
.title2 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.cardGrid,
.cardGridTestimonials,
.textContentHeading1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cardGrid {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--space-1200);
  font-size: var(--heading-size);
}
.cardGridTestimonials,
.textContentHeading1 {
  flex-direction: column;
  font-size: var(--header-size);
  color: var(--text-default-default);
}
.cardGridTestimonials {
  align-self: stretch;
  background-color: var(--background-default-default);
  height: 546px;
  padding: var(--space-1600);
  box-sizing: border-box;
  gap: var(--space-1200);
  z-index: 1;
}
.textContentHeading1 {
  position: absolute;
  top: 0;
  left: 61px;
  gap: var(--space-200);
  font-family: var(--body-base);
}
.contentHolderChild {
  position: absolute;
  top: 237px;
  left: 103px;
  border-radius: var(--br-xl);
  width: 70px;
  height: 75px;
  overflow: hidden;
  object-fit: cover;
}
.thisIsA {
  position: absolute;
  top: 48px;
  left: 60px;
}
.contentHolder1,
.source {
  position: absolute;
  top: 263px;
  left: 23px;
}
.contentHolder1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
}
.contentHolder {
  position: absolute;
  top: 117px;
  left: 80px;
  width: 386px;
  height: 321px;
  cursor: pointer;
}
.contentHolder2,
.contentHolder3,
.contentHolder4,
.contentHolder5,
.contentHolder6,
.contentHolder7,
.contentHolder8,
.contentHolder9 {
  position: absolute;
  top: 117px;
  left: 557px;
  border-radius: var(--br-xl);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  width: 386px;
  height: 321px;
  overflow: hidden;
}
.contentHolder3,
.contentHolder4,
.contentHolder5,
.contentHolder6,
.contentHolder7,
.contentHolder8,
.contentHolder9 {
  left: 1034px;
}
.contentHolder4,
.contentHolder5,
.contentHolder6,
.contentHolder7,
.contentHolder8,
.contentHolder9 {
  top: 507px;
  left: 80px;
}
.contentHolder5,
.contentHolder6,
.contentHolder7,
.contentHolder8,
.contentHolder9 {
  left: 557px;
}
.contentHolder6,
.contentHolder7,
.contentHolder8,
.contentHolder9 {
  left: 1034px;
}
.contentHolder7,
.contentHolder8,
.contentHolder9 {
  top: 897px;
  left: 80px;
}
.contentHolder8,
.contentHolder9 {
  left: 557px;
}
.contentHolder9 {
  left: 1034px;
}
.textContentHeadingParent {
  align-self: stretch;
  position: relative;
  background-color: var(--background-default-default);
  height: 1335px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
  font-family: var(--paragraph);
}

.mainPage {
  width: 100%;
  position: relative;
  background-color: var(--color-floralwhite);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-black);
  font-family: var(--body-base);
}
