/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.videoPlayerPage {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.videoPlayerContainer {
  padding: 2rem;
  text-align: left;
  flex-grow: 1;
}

.videoTitle {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.responsiveIframe {
  width: 85%;
  max-width: 1000px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.responsiveIframe:hover {
  transform: scale(1.02);
}

.errorText {
  text-align: center;
  font-size: 1.2rem;
  color: red;
  margin-top: 2rem;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  max-width: 600px;
  min-width: 200px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 50px;
  margin-bottom: 40px;
  padding-top: 2vh;
  position: relative;
  top: 15%;
  z-index: 10;
}

.searchbar input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #666;
  border-radius: 50px;
  font-family: inherit;
}

.searchbar svg {
  margin-right: 0.5rem;
  color: #666;
}

.searchbar input::placeholder {
  color: #aaa;
}

.suggestionBox {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: transparent;
  border-radius: 8px;
}