/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.videoPlayerPage {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.videoPlayerContainer {
  padding: 2rem;
  text-align: left;
  flex-grow: 1;
}

.videoTitle {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.responsiveIframe {
  width: 85%;
  max-width: 1000px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.responsiveIframe:hover {
  transform: scale(1.02);
}

.errorText {
  text-align: center;
  font-size: 1.2rem;
  color: red;
  margin-top: 2rem;
}