.dollieBlair,
.kViews {
  position: absolute;
  width: 49.85%;
  top: calc(50% + 95.9px);
  left: 0.82%;
  display: inline-block;
  height: 24px;
}
.dollieBlair {
  width: 45.92%;
  left: 53.95%;
  text-align: right;
  height: 29px;
}
.album7Icon {
  position: absolute;
  height: 76.1%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 23.9%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.selectingTheRight {
  position: absolute;
  width: 85.83%;
  top: calc(50% + 68.9px);
  left: 0.16%;
  font-size: var(--paragraph-size);
  display: inline-block;
  color: var(--color-gray-200);
}
.div,
.rectangle {
  position: absolute;
}
.rectangle {
  height: 100%;
  width: 36.17%;
  top: 0;
  right: -0.09%;
  bottom: 0;
  left: 63.92%;
  border-radius: var(--br-xs);
  background-color: var(--color-black);
  opacity: 0.3;
  mix-blend-mode: normal;
}
.div {
  width: 95.28%;
  top: calc(50% - 7.7px);
  left: 0;
  display: inline-block;
}
.rectangleParent {
  position: absolute;
  height: 8.57%;
  width: 35.45%;
  top: 63.97%;
  right: 2.72%;
  bottom: 27.46%;
  left: 61.82%;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--background-default-default);
}
.nextVideos,
.video,
.video1 {
  position: absolute;
  width: 82.21%;
  top: calc(50% + 46.1px);
  right: 0;
  left: 17.79%;
  height: 249.8px;
}
.nextVideos,
.video1 {
  top: calc(50% + 306.1px);
  right: 0.27%;
  left: 17.52%;
}
.nextVideos {
  width: 100%;
  top: calc(50% - 555.9px);
  right: 0;
  left: 0;
  height: 100%;
  color: var(--color-silver);
}
.next {
  text-decoration: none;
  position: absolute;
  top: 42px;
  left: 76px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 107px;
  height: 43px;
  text-shadow: 0 4.5px 4.5px rgba(0, 0, 0, 0.25);
}
.toggleBackground {
  position: absolute;
  height: 99.17%;
  width: 89.49%;
  top: 0.83%;
  right: 0;
  bottom: 0;
  left: 10.51%;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-100);
  opacity: 0.3;
  mix-blend-mode: normal;
}
.knobIcon {
  position: absolute;
  top: calc(50% - 6px);
  right: 16.9px;
  width: 24px;
  height: 11.4px;
}
.toggleSwitch {
  position: absolute;
  height: 30%;
  width: 36.78%;
  top: 45%;
  right: 0;
  bottom: 25%;
  left: 63.22%;
}
.autoplay1 {
  text-decoration: none;
  position: absolute;
  width: 69.6%;
  top: calc(50% - 20px);
  left: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  height: 40px;
  word-break: break-all;
}
.autoplay {
  position: absolute;
  height: 3.6%;
  width: 29.98%;
  top: 3.78%;
  right: 0.73%;
  bottom: 92.62%;
  left: 69.29%;
  font-size: var(--body-base-size);
}
.autoPlay {
  position: absolute;
  top: 43px;
  left: 1131px;
  width: 370.9px;
  height: 1111.8px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-mulish);
}
@media screen and (max-width: 767px) {
  .next {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .selectingTheRight {
    font-size: var(--body-base-size);
  }
  .next {
    font-size: var(--font-size-lgi);
  }
}
