.learnMore {
  position: relative;
  font-size: var(--paragraph-size);
  display: inline-block;
  font-family: var(--body-base);
  color: var(--color-theme-blue);
  text-align: left;
  min-width: 112px;
}
.buttonHover {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-3xs) var(--padding-6xl) var(--padding-2xs);
  background-color: var(--backgrounds-primary);
  height: 49px;
  border-radius: var(--br-4xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonHover:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
}
