.categoryHolderChild {
  width: 274px;
  height: 274px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.thisIsA {
  flex: 1;
  position: relative;
}
.categoryHolder,
.thisIsATitleHolderWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thisIsATitleHolderWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-31xl) 0 var(--padding-26xl);
}
.categoryHolder {
  background-color: var(--backgrounds-primary);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-19xl) var(--padding-19xl) var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--paragraph-size);
  color: var(--color-black);
  font-family: var(--paragraph);
}
@media screen and (max-width: 450px) {
  .thisIsA {
    font-size: var(--body-base-size);
  }
  .thisIsATitleHolderWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
