.home,
.logoIcon {
  position: relative;
}
.logoIcon {
  height: 104px;
  width: 113px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.home {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}
.homeWrapper {
  border-radius: var(--br-4xs);
  background-color: var(--backgrounds-primary);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-18xl) var(--padding-3xs-5)
    var(--padding-19xl);
  cursor: pointer;
}
.instanceWrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) var(--padding-8xl) 0;
}
.homeContainer,
.instanceFrame,
.instanceWrapper {
  display: flex;
  align-items: flex-start;
}
.homeContainer {
  border-radius: var(--br-4xs);
  background-color: var(--backgrounds-primary);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-23xl);
  cursor: pointer;
}
.instanceFrame {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xl);
}
.component1,
.component1Inner,
.logoParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logoParent {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.component1,
.component1Inner {
  align-items: flex-start;
}
.component1Inner {
  width: 589px;
  flex-shrink: 0;
  max-width: 104%;
}
.component1 {
  width: 569px;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-black);
  font-family: var(--paragraph);
}
@media screen and (max-width: 750px) {
  .logoParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .home {
    font-size: var(--body-base-size);
  }
}
