.textContentHeadingWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contentSourceGrid {
  width: 405px;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-50xl);
  max-width: 100%;
}
.contentSourceGrid,
.placeholderColumn,
.placeholderRow {
  flex-direction: column;
  justify-content: flex-start;
}
.placeholderColumn {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-50xl);
}
.placeholderRow {
  width: 386px;
  padding: var(--padding-98xl) 0 0;
}
.contentPlaceholderGrid,
.placeholderRow,
.placeholderRow1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.placeholderRow1 {
  width: 386px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-98xl) 0 0;
  font-size: var(--paragraph-size);
  color: var(--color-black);
  font-family: var(--paragraph);
}
.contentPlaceholderGrid {
  align-self: stretch;
  background-color: var(--backgrounds-primary);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-73xl) var(--padding-98xl) var(--padding-42xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--header-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
@media screen and (max-width: 1350px) {
  .placeholderRow,
  .placeholderRow1 {
    padding-top: var(--padding-57xl);
    box-sizing: border-box;
  }
  .contentPlaceholderGrid {
    flex-wrap: wrap;
    padding-bottom: var(--padding-57xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .placeholderRow,
  .placeholderRow1 {
    padding-top: var(--padding-30xl);
    box-sizing: border-box;
  }
  .contentPlaceholderGrid {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-27xl);
    padding-bottom: var(--padding-30xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contentSourceGrid,
  .placeholderColumn {
    gap: var(--gap-15xl);
  }
  .contentPlaceholderGrid {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
