.thisIsA {
  position: relative;
}
.sourceWrapper,
.thisIsAContentCoverPlacerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thisIsAContentCoverPlacerWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-18xl);
}
.sourceWrapper {
  flex-direction: column;
  padding: var(--padding-7xl) 0 0;
}
.frameChild {
  height: 75px;
  width: 70px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.contentHolder,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.contentHolder {
  align-self: stretch;
  border-radius: var(--br-xl);
  border: 1px solid var(--border-default-default);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-27xl) var(--padding-3xl) var(--padding-6xs);
  gap: var(--gap-147xl);
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-black);
  font-family: var(--paragraph);
}
@media screen and (max-width: 450px) {
  .thisIsA {
    font-size: var(--body-base-size);
  }
  .contentHolder {
    gap: var(--gap-64xl);
  }
}
