.icon {
  height: 35px;
  width: 23.3px;
  position: relative;
}
.figma {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logoInstagramIcon,
.xLogoIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logoInstagramIcon {
  overflow: hidden;
  flex-shrink: 0;
}
.buttonList {
  flex-direction: row;
  gap: var(--space-400);
}
.buttonList,
.footer,
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  width: 262px;
  flex-direction: column;
  gap: var(--space-600);
  min-width: 240px;
}
.footer {
  align-self: stretch;
  background-color: var(--color-papayawhip);
  border-top: 1px solid var(--border-default-default);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-11xl) var(--space-800) var(--padding-23xl);
  gap: 16px 13.3px;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
