.home,
.logoIcon {
  position: relative;
}
.logoIcon {
  height: 104px;
  width: 113px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.home {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}
.homeWrapper {
  border-radius: var(--br-4xs);
  background-color: var(--color-papayawhip);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-18xl) var(--padding-3xs-5)
    var(--padding-19xl);
}
.homeContainer,
.homeWrapper,
.instanceWrapper {
  display: flex;
  align-items: flex-start;
}
.instanceWrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) var(--padding-8xl) 0;
}
.homeContainer {
  border-radius: var(--br-4xs);
  background-color: var(--backgrounds-primary);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-23xl);
  cursor: pointer;
}
.home2 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 76px;
}
.homeFrame,
.instanceFrame {
  display: flex;
  align-items: flex-start;
}
.homeFrame {
  border-radius: var(--br-4xs);
  background-color: var(--backgrounds-primary);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) var(--padding-5xl) var(--padding-3xs-5)
    var(--padding-6xl);
  cursor: pointer;
}
.instanceFrame {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xl);
}
.component1,
.component1Inner,
.logoParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logoParent {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.component1,
.component1Inner {
  align-items: flex-start;
}
.component1Inner {
  width: 589px;
  flex-shrink: 0;
  max-width: 104%;
}
.component1 {
  width: 569px;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.learnAnytimeAnywhere {
  margin: 0;
}
.blankLine {
  margin: 0;
  font-size: var(--paragraph-size);
  font-family: var(--body-base);
}
.accessAWideRangeOfEducati {
  margin: 0;
  font-family: var(--paragraph);
}
.learnAnytimeAnywhereContainer {
  height: 93px;
  width: 914px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.component1Parent,
.learnAnytimeAnywhereAccessWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.learnAnytimeAnywhereAccessWrapper {
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--style-header-size);
  font-family: var(--style-header);
}
.component1Parent {
  flex-direction: column;
  justify-content: flex-start;
}
.buttonHoverPattern2Parent,
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.buttonHoverPattern2Parent {
  width: 423px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameContainer {
  width: 913px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameParent,
.frameWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1185px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-13xl);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-black);
  font-family: var(--paragraph);
}
@media screen and (max-width: 750px) {
  .logoParent {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .home,
  .home2,
  .learnAnytimeAnywhereContainer {
    font-size: var(--body-base-size);
  }
  .buttonHoverPattern2Parent {
    flex-wrap: wrap;
  }
}
