.home {
  text-decoration: none;
  position: relative;
  font-size: var(--paragraph-size);
  font-weight: 700;
  font-family: var(--paragraph);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 76px;
}
.homeWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-5) var(--padding-5xl) var(--padding-3xs-5)
    var(--padding-6xl);
  background-color: var(--color-papayawhip);
  border-radius: var(--br-4xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.homeWrapper:hover {
  background-color: var(--color-blanchedalmond);
}
@media screen and (max-width: 450px) {
  .home {
    font-size: var(--body-base-size);
  }
}
