.homepagecom {
  border: 0;
  background-color: var(--backgrounds-primary);
  height: 112px;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xl);
  box-sizing: border-box;
  color: var(--color-darkslateblue);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
