.listItem {
  position: relative;
  line-height: 140%;
  display: inline-block;
  min-width: 124px;
  flex-shrink: 0;
}
.textLinkListItem {
  width: 89px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
