.textLinkList,
.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--space-400);
}
.textLinkList {
  width: 262px;
  flex-direction: column;
  gap: var(--space-300);
  text-align: left;
  font-size: var(--body-base-size);
  color: var(--text-default-default);
  font-family: var(--body-base);
}
